<header ui-view="header">
  Layout Header
</header>

<main layout flex>
  <md-sidenav ui-view="sidenav" layout="column" flex class="md-sidenav-left md-whiteframe-z2" 
    md-component-id="menu-left"
    md-is-locked-open="$mdMedia('gt-xs')">
    <app-menu></app-menu>
  </md-sidenav>
  <div layout="column" flex>
    <md-toolbar ui-view="toolbar" layout flex="nogrow" class="app-toolbar">
      Layout Toolbar
    </md-toolbar>
    <md-content ui-view="content" layout="column" layout-fill flex>
      Layout Content
    </md-content>
  </div>
</main>

<footer>
  Layout Footer
</footer>